

#box{
	background-color: purple;
	height: 10vw;
	width: 10vw;
	position: absolute;
	/*top: 40%;
	left: 40%;*/
	color: white;
	font-weight: bold;
	font-size: 1.7vw;
	cursor: pointer;
	display: flex;
    justify-content: center;
    align-items: center;
}

