

#div1{
	height: 150px;
	width: 100%;
	margin-top: 10%;
	background-color: #e1f5fe; 
	text-align: center;
	padding: 2%;
	text-transform: capitalize;
}
h1{
	margin-top:0; 
}
button{
	font-size: 1rem;
	padding: 1%;
	width: 200px;
}

#div2{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;
}
.box{
	height: 315px;
	width: 300px;
	background-color: white;
	box-shadow: 0 0 12px grey; 
	margin: 2%;
}
.box img{
	height: 200px;
	width: 100%;
}
.box p{
	font-size: 1rem;
}
.name{
	text-align:center;
	font-weight: bold;
	/*margin-top: 0.5%;*/
	
}
.align{
	text-align: right;
}